<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>HeyRin Store | Ecommerce Website</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://fonts.googleapis.com/css2?family=Meow+Script&family=Readex+Pro:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="fb-customerchat" page_id="1868383883259897" minimized="false">
</div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '912333495590130',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.11'
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<div class="header-container">
    <div class="container">
        <nav>
            <div class="logo">
                <a href="https://www.facebook.com/hey.rin.clothing">
                    <img src="../images/hey-Rin.png">
                </a>
            </div>
            <ul id="menuItems">
                <li><a href="../index.html">Trang chủ</a></li>
                <li><a href="../catalog/catalog.html">Sản phẩm</a></li>
                <li><a class="active" href="../sales/product_sale.html">Giảm giá</a>
                    <ul>
                        <li><a href="../sales/product_sale.html">Đồng giá 299k</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <img src="../images/menu.png" class="menu-icon" onclick="menutoggle()">
        </nav>
    </div>
</div>

<div class="center">
    <i class="fa fa-tag tag-price" aria-hidden="true">
        <span class="tag-price">Ship nội thành Sài Gòn đồng giá 15k - Ship tỉnh đồng giá 25k</span>
    </i>
</div>

<!--------------- offer product ----------->

<div class="small-container">
    <!-- <h2 class="title">Sản phẩm</h2> -->
    <div class="pro-container">

<!--        <heyrin-sale-overview-element/>-->
        #foreach($productSale in $productSales)
        <div class="col-4 pro">
            <a href="../images/$productSale.productDetailHtmlLocation">
                <img class="status-available" src="../images/$productSale.productLocation">
                <div class="text-block">
                    <h4>SALE</h4>
                </div>
                <div class="des">
                    <span>Heyrin</span>
                    <h5>
                        $productSale.productCode
                    </h5>
                    <i class="fa fa-tag" aria-hidden="true">
                        <span class="line-through"><span class="tag-price">$productSale.productPrice k </span></span>
                        <span class="tag-price-sale"> 299 k</span>
                        <span class="$productSale.productStatus.styleClass"></span>
                    </i>
                </div>
            </a>
        </div>
        #end

    </div>
</div>

<script>
    var menuItems = document.getElementById("menuItems");
    menuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (menuItems.style.maxHeight == "0px") {
            menuItems.style.maxHeight = "100%";
        } else {
            menuItems.style.maxHeight = "0px";
        }
    }
</script>
</body>

</html>